<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/untitled.css">
</head>

<body id="page-top">
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">Starline</a>
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive"
                type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                                            href="#services">SERVIÇOS</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">PORTFÓLIO</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">SOBRE</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                                            href="#contact">CONTATO</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image:url('/static/img/header-bg-2.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span><br>Optimizando os resultados do seu negócio com<br><br></span></div>
            <div class="intro-heading text-uppercase"><span><br>Soluções Digitais<br><br></span></div>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Services</h2>
                <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i
                    class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Desempenho</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i
                    class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Desenvolvimento</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i
                    class="fa fa-gears fa-stack-1x fa-inverse"></i></span>
                <h4 class="section-heading">Gerenciamento</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Portfólio</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="d-lg-flex align-items-lg-center portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-star fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="/static/img/carga-icon.jpg"></a>
                <div class="portfolio-caption">
                    <h5>Simulação de Cargas</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-star fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="/static/img/dev-icon.jpg"></a>
                <div class="portfolio-caption">
                    <h5>Desenvolvimento de Sistemas</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-star fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="/static/img/qualidade-icon.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Qualidade de teste</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-star fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="/static/img/Suporte-TI-ICON.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Monitoração de ambientes</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase"><br>Algumas Palavras sobre nós<br><br></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="list-group timeline">
                    <a class="list-group-item list-group-item-action">
                        <div class="timeline-panel">
                            <div class="timeline-heading"></div>
                            <div class="timeline-body">
                                <p class="text-muted"><br>A STARLINE é uma empresa de serviços especializada em garantir
                                    a excelência de aplicações de software em ambiente corporativo, tanto em seus
                                    aspectos funcionais, quanto não funcionais.<br>Com quinze anos de mercado
                                    e notória especialização, reconhecida pelos seus clientes, a STARLINE é um grande
                                    fornecedor de gerenciamento de desempenho de aplicações.<br>O serviço da STARLINE
                                    proporciona economia de hardware, direcionamento
                                    e planejamento de investimento bem como melhoria em tempos de resposta que superam
                                    500%.<br>Para realizar seus serviços a STARLINE conta com uma equipe de
                                    especialistas em desempenho, qualidade e testes funcionais.
                                    Este time atua diretamente nos projetos e serviços contínuos.<br>A STARLINE conta
                                    também com tecnologia própria desenvolvida por uma área de pesquisa e
                                    desenvolvimento formada por mestres e doutores em assuntos
                                    tão diversos como grafos, otimização combinatória e complexidade de algoritmos, além
                                    de estatísticos.<br>Nos seus quinze anos de experiência a STARLINE já realizou e
                                    entregou projetos em distintas áreas de negócio
                                    e plataformas operacionais, como, por exemplo:<br><br>* Canais: ATM, Internet
                                    Banking, Call Center, URA, Mobile;<br>* Plataformas: Contas Correntes, Empréstimos,
                                    Consignados, Financiamentos, Crédito PF e PJ, Microcrédito,
                                    Câmbio e outros produtos;<br>* Educacional e Varejo;<br>* Canais: ATM, Internet
                                    Banking, Call Center, URA, Mobile;<br><br></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section class="py-5">
    <h2 class="d-lg-flex justify-content-lg-center"><br>Principais Clientes<br><br></h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex justify-content-lg-end align-items-lg-center"><a
                    href="https://www.bioritmo.com.br/" target="_blank"><img class="img-fluid d-block mx-auto"
                                                                             src="/static/img/clients/bioRitmo.jpg"></a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex align-items-lg-center"><a
                    href="https://www.carrefour.com.br/" target="_blank"><img class="img-fluid d-block mx-auto"
                                                                              src="/static/img/clients/carrefour.jpg"></a>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex align-items-lg-center"><a href="https://www.marisa.com.br/"
                                                                                       target="_blank"><img
                    class="img-fluid d-block mx-auto" src="/static/img/clients/marisa.jpg"></a></div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex align-content-center align-items-lg-center"><a
                    class="d-lg-flex align-items-lg-center" href="https://www.onofre.com.br/" target="_blank"><img
                    class="img-fluid d-block mx-auto" src="/static/img/clients/onofre.jpg"></a></div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex align-items-lg-center"><a href="http://www.kroton.com.br/"
                                                                                       target="_blank"><img
                    class="img-fluid d-block mx-auto" src="/static/img/clients/kroton.jpg"></a></div>
            <div class="col-sm-6 col-md-3 col-lg-2 d-lg-flex align-items-lg-center"><a
                    href="https://www.einstein.br/Pages/Home.aspx" target="_blank"><img
                    class="img-fluid d-block mx-auto" src="/static/img/alberteinstein.jpg"></a></div>
        </div>
    </div>
</section>
<section id="contact" style="background-image:url('/static/img/map-image.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="contactForm" novalidate="novalidate">
                    <div class="form-row">
                        <div class="col col-md-6">
                            <div class="form-group"><input class="form-control" type="text" required="" id="name"
                                                           placeholder="Your Name *">
                                <small class="form-text text-danger flex-grow-1 help-block lead"></small>
                            </div>
                            <div class="form-group"><input class="form-control" type="email" required="" id="email"
                                                           placeholder="Your Email *">
                                <small class="form-text text-danger help-block lead"></small>
                            </div>
                            <div class="form-group"><input class="form-control" type="tel" required=""
                                                           id="tel" placeholder="Your Phone *">
                                <small class="form-text text-danger help-block lead"></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><textarea class="form-control" required="" id="message"
                                                              placeholder="Your Message *"></textarea>
                                <small class="form-text text-danger help-block lead"></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button class="btn btn-primary btn-xl text-uppercase" type="submit" id="sendMessageButton">
                                Send Message
                            </button>
                        </div>
                        <br>
                        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2018</span></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/portfolio/carga.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/tit-sistema.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal3">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/portfolio/3-full.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/portfolio/4-full.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal5">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/portfolio/5-full.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal6">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img
                                    src="/static/img/portfolio/6-full.jpg" class="img-fluid d-block mx-auto">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                    repellat aperiam quasi sunt officia expedita beatae
                                    cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul>
                                <button class="btn btn-primary" type="button" data-dismiss="modal"><i
                                        class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="/static/js/agency.js"></script>
<script src="/static/js/button_send.js"></script>
</body>

</html>